.exp{
    display: inline-block;
    width: 60%;
    padding-left: 22vw;
}
.high{
    display: flex;
    width: 100%;
    border-left: 4px solid rgb(40, 102, 153,0.8);
}
.high-school{
    background-color: rgb(40, 102, 153,0.1);
    box-shadow: 10px 10px 5px lightblue;
}
.high img{
    padding-left: 10px;
    padding-top: 5px;
}
.high p{
    padding-left: 15px;
    margin-top: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Education{
    display: flex;
}
.Education h1{
    margin: -12px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    padding-bottom: 40px;
}
.college{
    margin-top: 30px;
    background-color: rgb(40, 102, 153,0.1);
    box-shadow: 10px 10px 5px lightblue;
}

.Experience{
    display: flex;
    margin-top: 70px;
}
.Experience h1{
    margin: -12px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    padding-bottom: 40px;
    margin-top: -7px;
}
.softSkills{
    list-style-type: '→';
}
.softSkills li{
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.softSkills li:hover{
    border: 1px solid rgb(40, 102, 153,0.1);
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightblue;
}
.pins{
    display: flex;
    flex-wrap: wrap;
}