.exp{
    display: flex;
    padding-left: 400px;
}
.high{
    display: flex;
    border-left: 4px solid rgb(40, 102, 153,0.8);
}
.high-school{
    background-color: rgb(40, 102, 153,0.1);
    padding-right: 820px;
    box-shadow: 10px 10px 5px lightblue;
}
.high img{
    padding-left: 10px;
    padding-top: 5px;
}
.high p{
    padding-left: 15px;
    margin-top: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Education{
    display: flex;
}
.Education h1{
    margin: -12px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    padding-bottom: 40px;
}
.college{
    margin-top: 30px;
    background-color: rgb(40, 102, 153,0.1);
    padding-right: 600px;
    box-shadow: 10px 10px 5px lightblue;
}

.Expirience{
    display: flex;
    margin-top: 70px;
}
.Expirience h1{
    margin: -12px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    padding-bottom: 40px;
    margin-top: -7px;
}
.softSkills{
    list-style-type: '→';
}
.softSkills li{
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.softSkills li:hover{
    border: 1px solid rgb(40, 102, 153,0.1);
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightblue;
}
