.contact{
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}
.contactForm{
    border: 0px azure solid;
    border-radius: 29px;
    padding: 20px;
    padding-bottom: 50px;
    margin-left: 25vw;
    margin-right: 25vw;
    animation: animatetop 1s;
    margin-top: 10%;
    background-color: rgb(40, 102, 153);
    box-shadow: 7px -7px 7px 7px white;
}
.contactForm p{
    font-size: 28px;
    margin-bottom: 50px;
    color: white;
    font-weight: bold;
}
.blockDiv{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}
.blockDiv div{
    width: 100%;
}
.blockDiv input{
    width: 80%;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid white;
    color: white;
    margin: 10px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.contactForm input::placeholder{
    color: rgb(250,250,250,0.8)
}
.contactForm textarea::placeholder{
    color: rgb(250,250,250,0.8)
}
.contact textarea{
    width: 80%;
    margin-top: 30px;
    background-color: inherit;
    border-color: azure;
    border-radius: 15px;
    color: white;  
    padding-left: 10px;
}
.button{
    margin-top: 30px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Verdana;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(40, 102, 153);
    font-weight: bold;
}
.button:hover{
    cursor: pointer;
}
@media(max-width: 900px){
    .contactForm{
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .blockDiv{
        flex-wrap: wrap;
    }
}
@media(max-width: 600px){
    .contactForm{
        margin-left: 40px;
        margin-right: 40px;
    }
    .contactForm p{
        font-size: 24px;
    }
}

@keyframes animatetop {
    from {margin-top:-300px; opacity:0}
    to {margin-top:10%; opacity:1}
  }
#exit{
    float: right;
    margin-right: 15px;
    font-size: 30px;
    color: white;
    content: "\274c";
}
#exit:hover{
    cursor: pointer;
}
@media(max-width: 400px){
    .contactForm{
        margin: 10px;
        box-shadow: none;
    }
    .button{
        margin: 0px;
    }
    .blockDiv input{
        width: 100%;
    }
}
.label{
    display: block;
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 0, 0);
    margin-left: -110px;
}