.about{
    display: flex;
    padding: 50px;
    margin-top: 50px;
    padding-left: 18vw;
    flex-wrap: wrap;
    margin-bottom: -70px;
}
.about .profile{
    border: 10px solid rgb(40, 102, 153,0.8);
    border-radius: 15px;
    box-shadow: 10px 10px 5px lightblue;
}
.txtAbout{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 60%;
}
.txt img{
    padding-left: 10px;
}
.txt h1{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    animation: mymove 1s infinite;
}
.txt p:first-child{
    margin-top: 30px;
}
.txt p{
    margin-top: -25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.pins{
    display: flex;
    width: 110%;
}
.pins p{
    margin-top: 6px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 25px;
}
.bdayimg{
    margin-right: 10px;
    margin-bottom: -5px;
}

@keyframes mymove {
    0%   {left: 0%;}
    50%  {left: 2%;}
    100% {left: 0%;}
}
.pic{
    transition: transform .3s ease-in-out;
}
.pic:hover{
    transform: scale(1.2);
}
.pins a{
    text-decoration: none;
    color: black;
    padding: 5px;
    padding-left: 10px;
    font-size: 19px;
}
@media(max-width: 1100px){
    .about{
        padding-left: 40px;
    }
    .txtAbout{
        padding: 0;
        width: 100%;
    }
}
@media(max-width: 700px){
    .pins{
        display: flex;
        margin-left: -10px;
        flex-direction: column;
        text-align: center;
    }
    .pins p{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }
    .pins a{
        display: flex;
        flex-direction: column;
        margin-left: -25px;
    }
    .pins img{
        margin-left: 48%;
        margin-bottom: 5px;
    }
}
